{%extends 'base.html'%}
{%block title%}Login | Smart Student Performance System{%endblock%}
{%block content%}
<div class="row justify-content-center">
<div class="col-lg-5  col-md-7">
  <div class="surface-card p-4 p-lg-5 shadow-sm">
    <p class='section-lable mb-2'>Access</p>
    <h1 class='h3 fw-semibold mb-4'>Login</h1>
    <form method='POST'>
      <div class="mb-3">
      <label class='form-lable' for="username">Username/email</label>
      <input class='form-control from-control-lg form-control-soft' id='username' type="text" name="username" required>
      </div>
      <div class="mb-4">
        <label class='form-label' for="password">Password</label>
        <input class='form-control from-control-lg form-control-soft' type="password" name="password"id='password' required>
      </div>

      <button class='btn btn-primary btn-lg w-100' type="submit">Sign in</button>
    </form>
    <p class="text-muted text-center mt-3 mb-0">
        Don't have an account?
        <a href="{{ url_for('main.register') }}">Sign Up</a>
      </p>

  </div>
</div>
</div>
{%endblock%}
